#/etc/udev/rules.d/60-bmaptool.rules

SUBSYSTEM!="block", GOTO="bmaptool_optimizations_end"
ACTION!="add|change", GOTO="bmaptool_optimizations_end"

# Realtek USB 3.0 Card Reader (Anker USB 3.0 SD/microSD Card Reader)
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="0306", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="0306", ATTR{bdi/min_ratio}="0", ATTR{bdi/max_ratio}="1", ATTR{queue/scheduler}="none"

LABEL="bmaptool_optimizations_end"